{% extends 'base.html' %}

{% block content %}

    <h3 class="text-center">Currency exchanger <span class="badge bg-info">Flask</span></h3>
    <form action="" method="post">
        <div class="mb-3">
            {{ form.from_currency.label(class='form-label') }}
            {{ form.from_currency(class='form-select') }}
        </div>
        <div class="mb-3">
            {{ form.to_currency.label(class='form-label') }}
            {{ form.to_currency(class='form-select') }}
        </div>
        <div class="mb-3">
            {{ form.amount.label(class='form-label') }}
            {{ form.amount(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>

{% endblock %}